doctype html
html
  head
    title Login
    link(rel="stylesheet" href="/css/style.css")

  body
    .form-box
      h2 Login

      if error
        p.error-message(style="text-align:center") #{error}

      form(action="/auth/login" method="POST")

        // EMAIL
        label Email
        input(
          type="email"
          name="email"
          required
          class=(fieldErrors && fieldErrors.email ? "input-error" : "")
          value=(formData && formData.email ? formData.email : "")
        )
        if fieldErrors && fieldErrors.email
          p.error-message= fieldErrors.email

        // PASSWORD
        label Password
        input(
          type="password"
          name="password"
          required
          class=(fieldErrors && fieldErrors.password ? "input-error" : "")
        )
        if fieldErrors && fieldErrors.password
          p.error-message= fieldErrors.password

        button(type="submit") Login

      p
        | Don't have an account?
        a(href="/auth/register") Register
