doctype html
html
  head
    title Register
    link(rel="stylesheet" href="/css/style.css")

  body
    .form-box
      h1 Register

      if error
        p.error-message(style="text-align:center") #{error}

      form(action="/auth/register" method="POST")

        // NAME
        label Name
        input(
          type="text"
          name="name"
          required
          class=(fieldErrors?.name ? "input-error" : "")
          value=(formData?.name || "")
        )
        if fieldErrors?.name
          p.error-message= fieldErrors.name

        // EMAIL
        label Email
        input(
          type="email"
          name="email"
          required
          class=(fieldErrors?.email ? "input-error" : "")
          value=(formData?.email || "")
        )
        if fieldErrors?.email
          p.error-message= fieldErrors.email

        // PASSWORD
        label Password
        input(
          type="password"
          name="password"
          required
          class=(fieldErrors?.password ? "input-error" : "")
        )
        if fieldErrors?.password
          p.error-message= fieldErrors.password

        button(type="submit") Register

      p
        | Already have an account?
        a(href="/auth/login") Login
